@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&family=Ubuntu:ital,wght@0,300;0,500;0,700;1,300;1,400&display=swap");
:root{
    --darkest: #041C32;
    --darker: #04293A;
    --light: #064663;
    --lighter: #ECB365;
    --mix: #02927d;
    --font: #478fe2;
}  
::-webkit-scrollbar{
    width: 4px;
    background-color: var(--darkest);
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 2rem;
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
#particles-js{
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 135%;
    background-color: #1f1a25;
    z-index: -10;
}

/* Heading */
.heading{
    padding-top: 1vh;
    height: min(10vh, 15vh);
}
.heading .left{
    width: 30%;
    float: left;
}
.heading div{
    padding: 1rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    color: #478fe2;
}
.heading .right{
    width: 70%;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Orbitron', sans-serif;
}
.heading .right a{
    padding: 1rem;
    font-size: 1.75rem;
    color: white;
    transition: all .15s ease-in-out;
}
.heading .right a:hover{
    transform: scale(1.1);
    font-weight: 400;
    color: var(--lighter);
}
/* Heading */

/* main */
.main{
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 6rem 15rem 6rem 15rem;
    font-family: 'Roboto mono', monospace;
}
.main .main-subheading{
    float: left;
    display: flex;
    flex-direction: row;
    font-weight: 100;
}
.black{
    color: white;
    font-weight: 900;
}
.main .main-subheading .presents{
    font-size: 1.75rem;
}
.main .main-heading{
    font-size: 4rem;
    display: flex;
    flex-direction: row;
}
.main .main-headers{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-headers > div{
    float: left;
}
.main-headers  div:nth-child(2){
    float: right;
}
.main div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .right{
    width: 50%;
    float: right;
}
.main .left{
    width: 50%;
    float: left;
}

.main .left .logo{
    background-image: url(img/BetaTest-Main.png);
    background-size: cover;
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

.countdown{
    margin: 1rem;
    font-size: 1.5rem;
}

.arrow-container{
    height: 3rem;
}
.arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all .2s ease;
    -webkit-animation-name: arrow_anim;
    -webkit-animation-duration: 3s;
    -webkit-animation-play-state: running;
    -webkit-animation-iteration-count: infinite;
}
.space{
    height: 1rem;
}
@keyframes arrow_anim {
    0%{
        margin-top: 0rem;
    }
    50%{
        margin-top: 1rem;
    }
    100%{
        margin-top: 0rem;
    }
}
.arrow:hover{
    cursor: pointer;
    border-color: #478fe2;
}
/* main */

/* Content */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.content div{
    margin: 2vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content .resources .img{
    width: 20%;
    float: left;
    background-image: url(img/questionmark.png);
    background-size: cover;
    width: 5vh;
    height: 6vh;
}
.content .about .img{
    width: 20%;
    float: left;
    background-image: url(img/Logo[White].png);
    background-size: cover;
    width: 6vh;
    height: 6vh;
}
.content .hints .img{
    width: 20%;
    float: left;
    background-image: url(img/yellowbulb.png);
    background-size: cover;
    width: 6vh;
    height: 6vh;
}
.content div .text{
    color: white;
    float: right;
    width: 80%;
}

.content div .text a{
    color: white;
    font-weight: 500;
    transition: all .15s ease-in-out;
}
.content div .text a:hover{
    color: #478fe2;
    font-size: 1.25vw;
}
/* Content */

/* Footer */
.footer{
    margin: 6rem 0 0 0;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials{
    display: flex;
    flex-direction: row;
}.socials a{
    margin: 0 .75rem 0 .75rem;
}.socials img{
    height: 2rem;
    width: 2rem;
    color: white;
}
.details{
    color: white;
    text-align: center;
    font-size: 0.75rem;
    padding: 0.5rem;
}.details div{
    margin: 0.5rem;
}
/* Footer */

.playbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

/* Media Queries */
@media all and (max-width: 900px){

}
@media all and (max-width: 900px)
{
    /* Header */
    .heading{
        padding: 0rem;
    }
    .heading .right{
        width: 100%;
    }
    .heading .left{
        width: 100%;
    }
    .heading .right a{
        font-size: 1.5vh;
    }
    .main{
        padding: 3rem;
    }
    .main .main-headers{
        width: 100%;
    }
    .main .left .logo{
        height: 30vw;
        width: 30vw;
    }
    .main-subheading{
        font-size: 2.5vh;
    }
    .main .presents{
        font-size: 1vh;
    }
    .main .main-heading{
        font-size: 4vh;
    }
    .countdown{
        font-size: 3vw;
    }
}