@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{
    --darkest: #041C32;
    --darker: #04293A;
    --light: #064663;
    --lighter: #ECB365;
    --mix: #02927d;
    --font: #478fe2;
}  
::-webkit-scrollbar{
    width: 4px;
    background-color: var(--darkest);
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 2rem;
}
body{
    overflow: hidden;
    background-color: #1f1a25;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#particles-js{
    z-index: -1;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #1f1a25;
}

/* Input Button */
input, button{
    appearance: none;
    background: none;
    outline: none;
    border: none;
}
/* Input Button */

/* Heading */
.headers{
    width: 100%;
    height: 10rem;
}
.headers .right{
    width: 30%;
    float: right;
}
.headers .right .logo{
    background-image: url(../img/Logo[White].png);
    background-size: cover;
    height: 7rem;
    width: 7rem;
    float: right;
    margin: 1rem;
}
.headers .left{
    width: 70%;
    float: left;
}
.headers .left .home-link{
    margin: 1rem 0rem 0rem 1rem;
}
.headers .left .home-link a{
    text-decoration: none;
    color: var(--font);
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    transition: all .15s ease;
}
.headers .left .home-link a:hover{
    color: white;
    font-size: 1.75rem;
}
.headers .left .heading{
    font-family: 'Orbitron', sans-serif;
    font-size: 300%;
    color: var(--font);
    margin: 0 0 0 1rem;
}
/* Heading */

/* login form */
.login-form{
    background-color: #15172b;
    padding: 1rem;
    height: 60vh;
    width: 25%;
    border-radius: 2rem;
    font-family: 'Roboto Mono', monospace;
    color: #eee;
}
.login-form .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 4rem 0;
}
.login-form .heading .title{
    font-size: 3rem;
}
.login-form .heading .subtitle{
    font-size: 1.25rem;
}

form > div{
    width: 100%;
}

form > div input, button{
    margin:0.75rem;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
}

.form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
form button{
    margin-top: 0rem;
    width: 80%;
    background-color: var(--font);
    color: white;
    transition: all 0.15s ease;
}
form button:hover{
    cursor: pointer;
    background-color: rgba(22, 136, 169, 0.8);
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register .btn{
    width: 25vw;
    background: none;
    font-size: 1rem;
    color: #58afd1;
    border-radius: 0;    
    transition: all 0.25s ease-in-out;
}
/* login form */

/* Animation */
.input-container {
    height: 3.5rem;
    position: relative;
    width: 100%;
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.input-container > input {
    background-color: transparent;
    border: 3px solid #303245;
    transition: all 0.5s ease;
    color: white;
    width: 85%;
}
.input-container input:focus{
    border-color: #478fe2;
}
.input-container .placeholder {
    text-align: left;
    width: fit-content;
    transition: all 0.15s ease;
    transform: translate(2rem, -3.25rem);
}
input:focus ~ .placeholder,
input:not(:placeholder-shown) ~ .placeholder {
    transform: translate(2rem, -5.7rem);
}
input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
input:focus ~ .placeholder {
    color: #58afd1;
    letter-spacing: 0.15rem;
    font-size: 0.75rem;
}
/* Animation */

/* Phone */
@media all and (max-width: 900px)
{
    .login-form{
        width: 90%;
    }
    .register .btn{
        width: 90%;
    }
}